version: "3.9"

services:
  web:
    build: .
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      MYSQL_USER: test_user
      MYSQL_PASSWORD: test_password
      MYSQL_DB: test_db
      MYSQL_ROOT_PASSWORD: root

  db:
    image: mysql:8.0
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DB: test_db
      MYSQL_USER: test_user
      MYSQL_PASSWORD: test_password
    volumes:
      - mysql_data:/var/lib/mysql   # <-- this line persists the database
    command: --default-authentication-plugin=mysql_native_password

# Define the volume
volumes:
  mysql_data:
